/*$palettes: (
        blue: (
                base: #193441,
                light: rgb(135, 140, 155),
                dark: #212530
        ),

        gray: (
                base: rgb(230, 230, 230)
        )
);

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}*/