$ebony-clay: #252d3a;
$jungle-green: #24a79f;
$mystic: #e6ebf0;
$white: #ffffff;
$emperor: #525252;

/*$palettes: (
        blue: (
                base: #193441,
                light: rgb(135, 140, 155),
                dark: #212530
        ),

        gray: (
                base: rgb(230, 230, 230)
        )
);

@function palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}*/