button, .button {
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding: 0 30px;
  border: 0;
  background-color: transparent;
  box-shadow: 0 0 0 1px lighten($emperor, 20);
  border-radius: 3px;
  font-size: .875rem;
  font-weight: 400;
  color: lighten($emperor, 20);
  transition: 150ms;
  text-decoration: none !important;

  &:hover {
    text-decoration: none;
    box-shadow: 0 0 0 1px $ebony-clay;
    color: $ebony-clay;
  }

  &.submit {
    width: 100%;
    background-color: $jungle-green;
    color: $white;
  }
}

.button-group {
  display: flex;

  button, .button {
    margin-left: 1px;
    border-radius: 0;
    position: relative;

    &:hover {
      z-index: 1;
    }

    &:first-child {
      margin-left: 0;
      border-radius: 3px 0px 0px 3px;
    }

    &:last-child {
      border-radius: 0px 3px 3px 0px;
    }
  }
}