html {
  height: 100%;

  body {
    height: 100%;
    overflow: hidden;
    background-color: $mystic;

    > div {
      width: calc(100% - 240px);
      height: 100%;
      float: left;
    }
  }
}